HF_TOKEN=
REPO_URL=https://github.com/wingdzero/GroundingDINO-TensorRT-and-ONNX-Inference.git
REPO_REF=master
GDINO_TRT_OUTPUT_DIR=/app/assets/models/compiled/gdinoonnx
GDINO_TRT_PROMPT=car .
GDINO_TRT_HEIGHT=800
GDINO_TRT_WIDTH=1200
GDINO_TRT_MAX_TEXT_LEN=32
GDINO_TRT_PRECISION=fp16
GDINO_CHECKPOINT_SOURCE=
GDINO_CHECKPOINT_SOURCES=
GDINO_CHECKPOINT_URL=
GDINO_CHECKPOINT_URLS=
GDINO_CHECKPOINT_HF_REPO_ID=ShilongLiu/GroundingDINO
GDINO_CHECKPOINT_HF_FILENAME=groundingdino_swint_ogc.pth
