HF_TOKEN=
VISION_PUBLIC_BASE_URL=http://localhost:8000
CAMERA_PUBLIC_BASE_URL=http://localhost:8000
DEFAULT_DETECTION_BACKEND=none
DEFAULT_DEPTH_BACKEND=none
GROUNDING_DINO_MODEL_ID=IDEA-Research/grounding-dino-base
GROUNDING_DINO_TRT_DIR=/app/assets/models/compiled/gdinoonnx
ZOEDEPTH_MODEL_ID=Intel/zoedepth-nyu-kitti
DEPTH_ANYTHING_MODEL_ID=depth-anything/Depth-Anything-V2-Base-hf
